<div class="col-md-5 col-md-offset-2">
<%= form_for :profile, :url => "create", :html => { :multipart => true, :role => "form"} do |f| %>
  
	
	<div class="form-group">	
		<%= f.label :first_name, "First Name" %>
		<%= f.text_field :first_name, :class => "form-control" %>
	</div>
	<div class="form-group">	
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name, :class => "form-control" %>
	</div>
	<div class="form-group">	
		<%= f.label :birthday, "Day of Birth" %>
		<%= f.text_field :birthday, :as => :datetime_picker, :class => "form-control" %>

	</div>
	<div class="form-group">	
		<%= f.label :about_me, "About Youself" %>
		<%= f.text_area :about_me, :class => "form-control" %>
	</div>
	<div class="form-group">	
		<%= f.label :location, "Where are you?" %>
		<%= f.text_field :location, :class => "form-control" %>
	</div>
	<div class="form-group">	
		<%= f.label :avatar, "Image" %>
		<%= f.file_field :avatar, :class => "well" %>
	</div>
	<%= submit_tag "Save", :id => "submit", :name => "submit", :class => "form_submit btn btn-info", :disabled => false, :disable_with => "Please wait..." %>

<% end -%>

</div>